<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/Style.css}">
</head>
<body>
<div th:replace="base :: navlinks"></div>
<div th:each="job : ${jobs}">
    <div class="card" style="size: 70px">
        <div class="card-header" th:text="${job.title}"></div>
        <div class="card-body">
            Description: <div class="card-text" th:text="${job.description}"></div><br/>
            Date: <div class="card-text" th:text="${job.date}"></div><br/>
            Posted By: <div class="card-text" th:text="${job.author}"></div><br/>
            Phone: <div class="card-text" th:text="${job.phone}"></div><br/>
            Image:
            <div th:if="${job.jobPic} !=null">
                <img class="card-img" th:src="${job.jobPic}">
            </div>

            <p class="card-text"></p>
            <a th:href="@{/update/{id}(id=${job.id})}" class="btn btn-primary">Update</a>
            <a th:href="@{/delete/{id}(id=${job.id})}" class="btn btn-primary">Delete</a>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>